.ipynb_checkpoints
.DS_Store
__pycache__
*.pytest_cache
.gitattributes
!*.zip
.Data
.tryFinal.pdf
.Movies Analysis-copy,beforemerge.ipynb
.Movies Analysis-Data Visualizations copy.ipynb
.Movies Analysis, with initial visualizations.ipynb
.Movies Analysis, with initial visualizations-Copy1_finalizing.ipynb
.Movies Analysis.ipynb
.Movies Analysis, with initial visualizations.ipynb
.student.ipynb
